* {
    margin: 0;
    padding: 0;
    
  }
body{
    max-width: 1920px;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
}
/* .inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  } */
  
  .top-part{
  
      /* border: 1px solid white; */
      
      /* margin-bottom: 5%; */
      max-width: 1920px;
      height: 700px;
      
      background: linear-gradient(180deg, #111111 50%, rgba(0, 0, 0, 0) 900%);
  
      
  }
  
  .menu-container{
    /* border: 1px solid white; */
      margin-left: 10%;
      margin-right: 10%;
      padding-top: 2%;
      
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      
  
  }
  .menu-bar{
    /* background-color: #ffffff; */
    color: #171717;
    z-index: -2;
    /* display: none; */
  }
  .menu-list{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 42px;
      display: flex;
      width: 40%;
      text-align: center;
      list-style: none;
      justify-content: space-around;
      
      align-content: center;
    
  }
  
  .menu-name{
      font-weight: 800;
      font-size: 36px;
      font-style: italic;
      font-family: "Inter", sans-serif;
      color: rgb(230, 83, 60, 1);
      
      
      
  }
  .menu-list a{
    text-decoration: none;
    padding-top: 2px;
    padding-bottom: 2px;
      font-family: "Inter", sans-serif;
      font-weight: 400;
      /* font-size: 18px; */
      font-size: calc(0.3em + 1vw);
      color: white;
      align-items: center;
  }
  .menu-list{
    align-items: center;
  }
  
  /* .menu-list {
    padding-top: 2px;
    padding-bottom: 2px;
      font-family: "Inter", sans-serif;
      font-weight: 400;
      /* font-size: 18px; */
      /* font-size: calc(0.3em + 1vw);
      color: white;
      align-items: center;} */
      
  
  .menu-home{
    margin-left: -4%;
    width: 15%;
      background-color: brown;
      border-radius: 15px;
      font-size: calc(0.3em + 1vw);
      font-weight: 400;
      
      padding: 5px 5px;
  }

  .head-container{
    /* border: 1px solid white;     */
    width: 80%;
    margin: 0 auto;
    height: 600px;
   
    
 }
  
  

 .banner-container{
    /* border: 1px solid white;  */
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid white; */
    height: 600px;
    display: flex;
    justify-content: space-between;
    
 }
 .banner-left{
    /* border: 1px solid white; */
    /* margin-left: 5%; */
      width: 42%;
      height: 80%;
      font-family: "Inter", sans-serif ;
      /* font-size: 2em; */
      font-size: calc(1rem + 1vw);
      color: white;
      margin-top: 5%;
}
.banner-left-main{
    width: 100%;
    height: fit-content;
    /* border: 1px solid white; */
    font-size: calc(1rem + 1vw);
    
}
.banner-left-main h1{
    font-size: calc(2rem + 1vw);
}
.body-para{
    /* border: 1px solid red; */
    font-size: 0.5em;
    height: fit-content;
    margin-top: 2%;
    
    color: rgba(255, 255, 255, 0.5);
      font-family: "Inter", sans-serif ;
    margin-bottom: 2px;
}
 /* .banner-title{
    position: relative;
    line-height: 150px;
    
  }
  .shape-stay{

    position: absolute;
    display: block;
    top: 25%;
  }
  .span-style{
    font-size: calc(6rem + 1vw);
    font-family: 'Miama', sans-serif;
    font-weight: lighter;
} */
.stay{
    font-family: 'Miama', sans-serif;
    font-weight: lighter;
    font-size: 2em;
    line-height: 10px;
}
.body-buttons{
    display: flex;
    /* justify-content: space-between; */
    gap: 5px;
    margin-top: 5%;
}
.body-button1{
    background-color: antiquewhite;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 40px;
    /* font-size: 18px; */
    font-size: calc(0.25em + 1vw);
    padding-top: 3%;
    padding-bottom: 3%; 
    background: rgba(230, 83, 60, 1);
    border-style: none;
    color: white;
 
 
 }
 
 .body-button2{
     background-color: antiquewhite;
     width: 50%;
     justify-content: center;
     align-items: center;
     text-align: center;
     border-radius: 40px;
     font-size: calc(0.25em + 1vw);
     padding-top: 3%;
     padding-bottom: 3%; 
     background: none;
     border-style: solid;
     color: white;
     border-color: white;
  
  
  }

  .banner-right{
    width: 55%;
    height: 500;
    /* border: 1px solid white; */
  }

  .banner-right img{
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  .rectangle-container{
    position: relative;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
 }
  .rectangle1{
    border: 1px solid white;
    
    position: absolute;
    /* width: 180px;
    height: 80px; */
    padding-bottom: 5%;
    width: 40%;
    height: fit-content;
    top: -150px;
    left: 5%;
    gap: 0px;
    border-radius: 12px;
    border: 1px;
    opacity: 0px;
    background: rgba(48, 48, 48, 0.54);
    /* text-align: center; */
    
    
    

 }
 .rect-h4{
    border: 1px solid whitesmoke;
    font-size: clamp(0.8rem, 2vw, 1.5rem);
 }

 .rectangle1 p{
    font-size: small;
    /* margin-top: -20%;
    padding-top: -20%; */
    margin-left: 40%;
    font-family: "Inter", sans-serif ;
    color: rgba(255, 255, 255, 0.5);
    
 }
 .rectangle1 h4{
    
    font-family: "Inter", sans-serif ;
    color: white;
    /* font-size: calc(2rem + 1vw); */
    font-size: clamp(0.8rem, 3vw, 3rem);
    font-weight: 900;
    margin-top: 5% ;
    margin-left: 40%;
    
    
 }


 .circle{
    position: absolute;
    width: 25%; 
  height: 50%; 
  
  border-radius: 50%;
  margin-top: 12%;
  margin-left: 5%;
  background-color: rgba(230, 83, 60, 1);
 }

 .rectangle2{
    position: relative;
    padding-bottom: 5%;
    width: 40%;
    height: fit-content;
    top: -380px;
    left: 60%;
    gap: 0px;
    border-radius: 12px;
    border: 1px;
    opacity: 0px;
    background: rgba(48, 48, 48, 0.54);
    padding-left: 10px;
    
    

 }
 .rectangle2 p{
    font-size: small;
    font-family: "Inter", sans-serif ;
    color: rgba(255, 255, 255, 0.5);
    
    
 }
 .rectangle-container2 h4{
    font-family: "Inter", sans-serif ;
    color: white;
    font-size: clamp(0.8rem, 3vw, 3rem);
    font-weight: 900;
    
    
 }
    
 
 .rectangle-container2{
    position: relative;
    justify-content: center;
    align-items: center;
 }
  


 /* this is section two */
 
.two-header{
    /* margin-top: 5%; */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
}
.two-header h1{
    padding-top: 5%;
    font-size: 3em;
        font-family: "Inter", sans-serif;
        font-weight: 900;
        color: rgba(255, 255, 255, 1);
}
.two-header p{
    font-family: "Inter", sans-serif;
    color: rgba(255, 255, 255, 0.5);
}

.two-image-container{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    
    
    }
    .two-image-container img{
        border-radius: 50%;
    }

    .two-image h4{
        font-family: "Inter", sans-serif;
        color: #ffffff;
    }
    .two-image p{
        font-family: "Inter", sans-serif;
        color: rgba(255, 255, 255, 0.5);
        /* margin-top: -7%; */
    }

    /* this is section three run an extra mile */

    
    .three-content{
        display: flex;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 10%;
        margin-right: 10%;
        height: fit-content;
        background-color: rgba(34, 34, 34, 1);
        border-radius: 10px;
    }
    .three-des{
        display: flex;
        flex-direction: column;
        width: 50%;
        padding-top: 2%;
        margin-left: 5%;
    }
    .three-des h1{
        font-size: 3em;
        font-family: "Inter", sans-serif;
        font-weight: 900;
        color: rgba(255, 255, 255, 1);
    }
    .three-des p{
        /* margin-top: -3%; */
        margin-right: 10%;
        font-family: "Inter", sans-serif;
        color: rgba(255, 255, 255, 0.5);
    }

    .three-des button{
        width: 50%;
        height: 54px;
        border-radius: 42px;
        background-color: rgba(230, 83, 60, 1);
        border: none;
        color: white;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 1em;
    }
    .three-image{
        /* margin-top: 5%;
        
        margin-right: 5%; */
        margin: 0 auto;
        margin-top: 2.5%;
        margin-bottom: 2.5%;

        position: relative;
        width: 362px;
        height: 312px;
        overflow: hidden; 
        border-radius: 18px;
       

    }

    .three-image img{
        position: absolute;
        left: -290px;
        top: -50px;
        width: 200%;
        height: 200%; 
        object-fit: cover;
        
        
    }
    
    /* section four unique section equipment */

    /*.four-container{
        
        padding-top: 5%;
        max-width: 1920px;
    background-color: rgb(0, 0, 0);
    }*/
    .four-content{
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 10%;
        margin-right: 10%;
        border-radius: 10px;
        height: 450px;
        background-color: rgba(145, 120, 177, 0.2);
        text-align: center;
    }
    .four-content h1{
        padding-top: 5%;
        font-size: 2em;
        font-weight: 900;
        font-family: "Inter", sans-serif;
        color: #ffffff;

    }
    .four-content p{
        margin-right: 5%;
        margin-left: 5%;
        font-family: "Inter", sans-serif;
        color: rgba(255, 255, 255, 0.5);
        
    }

    .four-image-container{
        margin-top: 5%;
        height: 50%;
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-bottom: 1px;
        padding-bottom: 1px;
        /* border: 1px solid white; */
    }
    .four-img{
            width: 20%;
        height: 90%;
        overflow: hidden;
        border-radius: 12px;
        box-shadow: rgba(64, 230, 108, 0.25) 0px 50px 100px -20px, rgba(96, 158, 128, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }

    /* section five bmi */

    .five-header{
        width: 80%;
        margin: 0 auto;
    }
    .five-header h1{
        margin-top: 5%;
        margin-left: 30%;
        font-size: 2em;
        font-weight: 900;
        font-family: "Inter", sans-serif;
        color: #ffffff;
    }
    .five-header p{
        margin-bottom: 5%;
        margin-left: 30%;
        margin-right: 25%;
        font-family: "Inter", sans-serif;
        color: rgba(255, 255, 255, 0.5);
    }
    .bmi-form-container{
        display: flex;
        margin-bottom: 5%;
        gap: 10%;
        background-color: rgba(34, 34, 34, 1);
        height: fit-content;
    }

    /* bmi table */

    .bmi-table{
        width: 30%;
        margin-left: 10%;
        padding-top: 5%;
        padding-bottom: 5%;
        

    }
    table {
        width: 100%;
        border-collapse: collapse;
        
        font-family: "Inter", sans-serif;
        color: rgba(255, 255, 255, 0.5);
    }
    .bmi-table h2{
        color: white;
        font-family: "Inter", sans-serif;
        font-weight: 900;
        font-size: 1.25em;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 15px;
        text-align: left;
    }
    th {
        color: white;
        font-weight: 600;
    }

    /* bmi form */
    .bmi-form{
        padding-top: 5%;
        font-family: "Inter", sans-serif;
        color: white;
    }
    
    .bmi-form p{
        margin-right: 16%;
        color: rgba(255, 255, 255, 0.5);
        font-weight: normal;
        font-family: "Inter", sans-serif;
    }
    

    .bmi-form input{
        width: 40%;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 10px;
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
        background: rgba(255, 255, 255, 0.1);
        border-style: none;
        color: rgba(255, 255, 255, 0.5);
        
   
   
       }
    
    /* .bmi-form button{
     width: 40%;
     justify-content: center;
     align-items: center;
     text-align: center;
     border-radius: 10px;
     font-size: 18px;
     padding-top: 10px;
     padding-bottom: 10px;
     background: rgba(255, 255, 255, 0.1);
     border-style: none;
     color: rgba(255, 255, 255, 0.5);


    } */

    .bmi-form select{
     width: 40%;
     justify-content: center;
     align-items: center;
     text-align: center;
     border-radius: 10px;
     font-size: 18px;
     padding-top: 10px;
     padding-bottom: 10px;
     background: rgba(255, 255, 255, 0.1);
     border-style: none;
     color: rgba(255, 255, 255, 0.5);
    }
    option{
        background-color: #6b6b6b;
        color: #ffffff;
    }
    #select{
        width: 80%;
    }
    #calculate-btn {
        width: 30%;
        height: 42px;
        border-radius: 42px;
        background-color: rgba(230, 83, 60, 1);
        border: none;
        color: white;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 1em;
    }



    /* section six meet our team */
    .six-header h1{
        text-align: center;
        font-size: 2em;
        font-weight: 900;
        font-family: "Inter", sans-serif;
        color: #ffffff;
    }

    .six-header p{
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
        font-weight: normal;
        font-family: "Inter", sans-serif;
    }
    .six-container{
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 10px;
        padding-bottom: 10px;
        height: fit-content;
        background-color: rgba(34, 34, 34, 1);
        border-radius: 10px;
    }
  

    .six-image-container{
        
        display: grid; 
        grid-template-columns: repeat(3,2fr);
        border-radius: 3px;
        padding-left: 2%;
        padding-right: 2%;
        margin-left: 1%;
        margin-right: 1%;
        gap: 20px;
        /* border: 1px solid white; */
    }
    .six-image{
        /* border: 1px solid white; */
        position: relative;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .six-image img{
        height: 100%;
        width: 100%;
        border-radius: 5px;
        
    }

    .six-image h3 {
        font-size: calc(0.3em + 1vw);
        color: white;
        position: absolute;
        margin-left: 10%;
        margin-top: -15%;
        font-family: "Inter", sans-serif;
    }

    .six-image p{
        font-size: calc(0.1em + 1vw);
        position: absolute;
        margin-left: 10%;
        margin-top: -8%;
        color: rgba(255, 255, 255, 0.566);
        font-weight: normal;
        font-family: "Inter", sans-serif;
    }

    /* this is the footer section */

    .footer-con{
        padding-top: 3%;
        padding-bottom: 5%;
        margin-top: 50px;
        height: fit-content ;
        background-color: rgba(255, 255, 255, 0.1);
    }

    .footer-container{
        display: flex;
        height: fit-content;
        /* border: 1px solid white; */
        justify-content: space-between;
        /* border: 1px solid white; */
        width: 80%;
        margin: 0 auto;
        
        padding-top: 2%;


    }
    .footer-left h1{
        font-family: "Inter", sans-serif ;
        font-weight: 800;
        font-style: italic;
        font-size: 4em;
        color: rgba(230, 83, 60, 1);
    }
    .footer-left p{
        font-family: "Inter", sans-serif ;
        font-weight: lighter;
        color: rgba(255, 255, 255, 0.566);
    }

    .footer-left{
        width: 40%;
        /* background-color: #ffffff; */
    }

    .footer-right h2{
        color: white;
        font-family: "Inter", sans-serif ;
    }
    .footer-right h4{
        color: rgba(255, 255, 255, 0.566);
        font-weight: lighter;
        font-family: "Inter", sans-serif ;
    }
    .footer-right{
        display: flex;
        justify-content: space-between;
        width: 40%;
    }
    .hr-con{
        height: 5px;
        width: 80%;
        margin: 0 auto;
    }
    .footer-copy{
        text-align: center;
        width: 80%;
        margin: 0 auto;
        color: rgba(255, 255, 255, 0.566);
        /* font-weight: lighter;
        font-family: "Inter", sans-serif ; */
    }


    /* responsive part */
    @media (max-width: 480px){
        body{
            margin: 0 auto;
        }
        .menu-list{
            display: none;
        }
        .for-mobile{
            display: none;
        }
        .two-image-container{
            flex-direction: column;
        }
        .three-content{
            flex-direction: column;
        }
        .three-des{
            width: 90%;
        }
        .three-des button{
            width: 85%;
            margin: 0 auto;
        }
        .three-image{
            width: 300px;
            height: 180px;
            
        }
        .five-header{
            width: 80%;
            margin: none;
        }
        .five-header p{
            margin-left: 1px;
        }
        .five-header h1{
            margin-left: 1px;
        }
        .bmi-form-container{
            flex-direction: column;
            padding-left: 5px;
        }
        .bmi-table{
            width: 80%;
        }
        .bmi-form{
            width: 80%;
            margin: 0 auto;
            padding-bottom: 15px;
        }
        .six-image-container{
            margin-left: 5%;
            display: flex;
            flex-direction: column;
        }
        .six-image h3{
            font-size: 1em;
        }
        .six-image p{
            font-size: 1em;
        }
        .footer-container{
            flex-direction: column;
            width: 80%;
            margin: 0 auto;
            height: fit-content;
        }
        .footer-left{
            width: 100%;
            margin-bottom: 5%;
            
        }
        .footer-right{
            flex-direction: column;
            
        }
        .footer-right2 h2{
            margin-top: 10%;
        }
        /* .banner-left{
            display: none;
        } */
         /* top banner section */
         .banner-left{
            width: 100%;
         }
         .banner-container{
            flex-direction: column;
         }
         .banner-left-main{
            width: 100%;
            height: fit-content;
            font-size: 16px;
         }
        .banner-title{
            /* position: relative; */
            line-height: 50px;
            
          }
          .shape-stay{
        
            /* position: absolute;
            display: block; */
            top: 25%;
          }
          .span-style{
            font-size: 2em;
            font-family: 'Miama', sans-serif;
            font-weight: lighter;
        }
        .banner-right{
            margin: 0 auto;
        }

        .rectangle1{
            top: -200px;
        }
        .rectangle2{
            left: 90px;
            top: -350px;
        }

        .menu-bar{
            z-index: 2;
            margin-right: 5%;
            color: #ffffff;
        }
        .four-image-container{
            display: grid;
            grid-template-columns: repeat(2 , 1fr);
            gap: 0px;
            align-items: center;

                    }
                    .four-img{
                        height: 90%;
                        width: 90%;
                        /* border: 1px solid white; */
                        margin: 0 auto;
                    }
        


    }


   